{% extends "base.html" %}
{% block title %}Story{% endblock %}
{% block body %}
<h1>メモ帳</h1>
<hr style="border-top: 4px double ;width: 100%;height:3;">

<div class="container" style="padding: 16px 0">

    <form action='' method='post' name="box">
        <p><label for="id_body">内容:</label> <input id="id_body" maxlength="256" name="body" type="text" value=""/></p>
        <p><label for="id_end">日付:</label> <input id="id_end" name="end" type="text" /></p>
        <p><label for="id_status">重要度:</label> <select id="id_status" name="status">
            <option value="" selected="selected">---------</option>
            <option value="1">low</option>
            <option value="2">middle</option>
            <option value="3">high</option>
        </select></p>
        <input type='hidden' name='csrfmiddlewaretoken' value='pAtM1NWEze14mERfJwcBquFx3Tdr0cyI' />
        <input class="btn btn-success" type='submit' value='メモする'>
    </form>

</div>
{% endblock %}